In [1]:
import pandas as pd

In [2]:
df = pd.read_json('traceGroundTruthJSON-0.json',lines=True)

In [3]:
df.head()

,type,sendTime,sender,senderPseudo,messageID,pos,pos_noise,spd,spd_noise,acl,acl_noise,hed,hed_noise
0,4,240.602763,9,1092,4184,"[266.1342377193001, 41.31755030776682, 0.0]","[4.534752768029631, 4.549525298598843, 0.0]","[-0.08087719292206601, 0.7826628559043071, 0.0]","[5.8479561322000003e-05, -0.000565907804593, 0.0]","[-0.264399876770306, 2.55929226383305, 0.0]","[0.000781535042957, 0.000157147677041, 0.0]","[-0.10279023863398801, 0.9947030546055271, 0.0]","[0.34491692230051, 0.31638175763944104, 0.0]"
1,4,241.602763,9,1092,4194,"[266.06130476311273, 43.37327132906824, 0.0]","[4.476469413385379, 4.331702683063567, 0.0]","[-0.307226018249808, 2.973074697703729, 0.0]","[0.00022214435466300002, -0.002149695059419, 0.0]","[-0.16867421025649001, 1.632928207206669, 0.0]","[0.00016366479334100001, 0.0015837872548250002...","[-0.102682182286077, 0.994714214958733, 0.0]","[0.352813203036476, 0.25414594164242404, 0.0]"
2,4,242.602763,9,1092,4204,"[265.50620000532376, 47.479615917740944, 0.0]","[4.642016156453815, 4.406704772182185, 0.0]","[-0.522133162849577, 5.052698244401898, 0.0]","[0.00037753164498000003, -0.003653380763227, 0.0]","[-0.250340680719852, 2.423187784894591, 0.0]","[0.00015538729031600002, 0.0015036857038070001...","[-0.10254626897553601, 0.994728235609705, 0.0]","[0.360477346594304, 0.20642682168206902, 0.0]"
3,4,243.602763,9,1092,4214,"[264.8798230282204, 53.81269421777557, 0.0]","[4.46289078603543, 4.600132676334774, 0.0]","[-0.7501579494382471, 7.25934146781901, 0.0]","[0.0005424091366300001, -0.005248903322175, 0.0]","[-0.15859373985413902, 1.535395525905717, 0.0]","[0.000164877491649, 0.001595522558947, 0.0]","[-0.10231333056359201, 0.9947522216054531, 0.0]","[0.368791704558564, 0.165551455629279, 0.0]"
4,4,244.602763,9,1092,4224,"[263.74132084628656, 62.04745136461824, 0.0]","[4.359550875382791, 4.449767087397457, 0.0]","[-1.196011717133152, 9.262387108898814, 0.0]","[0.000864806049117, -0.006697196551177001, 0.0]","[-0.323323397706463, 2.504311894356131, 0.0]","[0.00032239691248600003, 0.001448293229002, 0.0]","[-0.12733117487307702, 0.9918602582548821, 0.0]","[0.38560754428035204, 0.135501165937049, 0.0]"

In [4]:
df1 = df[['pos','spd']]

In [5]:
df1.head()

,pos,spd
0,"[266.1342377193001, 41.31755030776682, 0.0]","[-0.08087719292206601, 0.7826628559043071, 0.0]"
1,"[266.06130476311273, 43.37327132906824, 0.0]","[-0.307226018249808, 2.973074697703729, 0.0]"
2,"[265.50620000532376, 47.479615917740944, 0.0]","[-0.522133162849577, 5.052698244401898, 0.0]"
3,"[264.8798230282204, 53.81269421777557, 0.0]","[-0.7501579494382471, 7.25934146781901, 0.0]"
4,"[263.74132084628656, 62.04745136461824, 0.0]","[-1.196011717133152, 9.262387108898814, 0.0]"

In [6]:
split = pd.DataFrame(df1['pos'].to_list(), columns = ['posX', 'posY','posZ'])

In [7]:
split.head()

         posX       posY  posZ
0  266.134238  41.317550   0.0
1  266.061305  43.373271   0.0
2  265.506200  47.479616   0.0
3  264.879823  53.812694   0.0
4  263.741321  62.047451   0.0

In [8]:
split = split.drop('posZ',axis=1)

In [9]:
df1 = pd.concat([df1, split], axis=1)

In [10]:
df1.head()

,pos,spd,posX,posY
0,"[266.1342377193001, 41.31755030776682, 0.0]","[-0.08087719292206601, 0.7826628559043071, 0.0]",266.134238,41.317550
1,"[266.06130476311273, 43.37327132906824, 0.0]","[-0.307226018249808, 2.973074697703729, 0.0]",266.061305,43.373271
2,"[265.50620000532376, 47.479615917740944, 0.0]","[-0.522133162849577, 5.052698244401898, 0.0]",265.506200,47.479616
3,"[264.8798230282204, 53.81269421777557, 0.0]","[-0.7501579494382471, 7.25934146781901, 0.0]",264.879823,53.812694
4,"[263.74132084628656, 62.04745136461824, 0.0]","[-1.196011717133152, 9.262387108898814, 0.0]",263.741321,62.047451

In [11]:
df1 = df1.drop('pos',axis=1)

In [12]:
split = pd.DataFrame(df1['spd'].to_list(), columns = ['spdX', 'spdY','spdZ'])

In [13]:
split = split.drop('spdZ',axis=1)

In [14]:
split.head()

       spdX      spdY
0 -0.080877  0.782663
1 -0.307226  2.973075
2 -0.522133  5.052698
3 -0.750158  7.259341
4 -1.196012  9.262387

In [15]:
df1 = pd.concat([df1, split], axis=1)

In [16]:
df1.head()

,spd,posX,posY,spdX,spdY
0,"[-0.08087719292206601, 0.7826628559043071, 0.0]",266.134238,41.317550,-0.080877,0.782663
1,"[-0.307226018249808, 2.973074697703729, 0.0]",266.061305,43.373271,-0.307226,2.973075
2,"[-0.522133162849577, 5.052698244401898, 0.0]",265.506200,47.479616,-0.522133,5.052698
3,"[-0.7501579494382471, 7.25934146781901, 0.0]",264.879823,53.812694,-0.750158,7.259341
4,"[-1.196011717133152, 9.262387108898814, 0.0]",263.741321,62.047451,-1.196012,9.262387

In [17]:
df1 = df1.drop('spd',axis=1)

In [18]:
df1.head()

         posX       posY      spdX      spdY
0  266.134238  41.317550 -0.080877  0.782663
1  266.061305  43.373271 -0.307226  2.973075
2  265.506200  47.479616 -0.522133  5.052698
3  264.879823  53.812694 -0.750158  7.259341
4  263.741321  62.047451 -1.196012  9.262387

In [19]:
df1

            posX        posY      spdX      spdY
0     266.134238   41.317550 -0.080877  0.782663
1     266.061305   43.373271 -0.307226  2.973075
2     265.506200   47.479616 -0.522133  5.052698
3     264.879823   53.812694 -0.750158  7.259341
4     263.741321   62.047451 -1.196012  9.262387
...          ...         ...       ...       ...
5021  139.526900  876.928567  0.001691  0.001691
5022  139.749557  876.918451  0.001691  0.001691
5023  139.412345  878.207028 -0.296062  2.253724
5024  138.107917  881.136414 -1.281437  3.882940
5025  134.008147  882.956575 -4.211086  1.818290

[5026 rows x 4 columns]

In [22]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader

In [59]:
class CNN_LSTM(nn.Module):
    def __init__(self):
        super().__init__()
        self.conv = nn.Conv1d(in_channels=20, out_channels=20, kernel_size=3)
        
        self.lstm1 = nn.LSTM(input_size=2,hidden_size=2,num_layers=256)
        self.lstm2 = nn.LSTM(input_size=2,hidden_size=2,num_layers=256)
        self.lstm3 = nn.LSTM(input_size=2,hidden_size=2,num_layers=256)
        self.lstm4 = nn.LSTM(input_size=2,hidden_size=2,num_layers=256)
        
        self.lin1 = nn.Linear(2,1)
        self.lin2 = nn.Linear(4,2)
        
    def forward(self,x):
        h0_1 = torch.randn(256,2)
        c0_1 = torch.randn(256,2)
        h0_2 = torch.randn(256,2)
        c0_2 = torch.randn(256,2)
        h0_3 = torch.randn(256,2)
        c0_3 = torch.randn(256,2)
        h0_4 = torch.randn(256,2)
        c0_4 = torch.randn(256,2)
        
        x = conv(x)
        
        o1, _ = self.lstm1(x,(h0_1,c0_1))
        o2, _ = self.lstm2(x,(h0_2,c0_2))
        o3, _ = self.lstm3(x,(h0_3,c0_3))
        o4, _ = self.lstm4(x,(h0_4,c0_4))
        
        out1 = self.lin1(o1)
        out2 = self.lin1(o2)
        out3 = self.lin1(o3)
        out4 = self.lin1(o4)
        
        out_comb = torch.stack((out1,out2,out3,out4),dim=1)
        out_comb = out_comb.squeeze()
        
        out_final = self.lin2(out_comb)
        
        return out_final

In [60]:
input = torch.randn(20,4)

In [61]:
model = CNN_LSTM()

In [62]:
output = model(input)

In [63]:
output

tensor([[-0.2955,  0.1774],
        [-0.2902,  0.1914],
        [-0.2770,  0.1945],
        [-0.2705,  0.1935],
        [-0.2658,  0.1906],
        [-0.2620,  0.1873],
        [-0.2587,  0.1839],
        [-0.2558,  0.1807],
        [-0.2534,  0.1780],
        [-0.2514,  0.1756],
        [-0.2497,  0.1736],
        [-0.2483,  0.1720],
        [-0.2471,  0.1706],
        [-0.2462,  0.1695],
        [-0.2454,  0.1686],
        [-0.2448,  0.1679],
        [-0.2443,  0.1672],
        [-0.2439,  0.1668],
        [-0.2436,  0.1664],
        [-0.2433,  0.1661]], grad_fn=<AddmmBackward0>)