In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import sklearn
from torch.utils.data import DataLoader
from sklearn.model_selection import train_test_split
from torch import optim

In [52]:
import pandas as pd
import glob
import os

# Set the directory path
dir_path = r'D:/Study Material/4-2/MixAll_0024/MixAll_0024/VeReMi_0_3600_2022-9-11_12.51.1'

# Get a list of all JSON files in the specified directory and its subdirectories
json_files = glob.glob(os.path.join(dir_path, '**', '*.json'), recursive=True)

# Create an empty dataframe to store the merged data
merged_df = pd.DataFrame()

# Loop through each file and read it into a pandas dataframe
for f in json_files:
    # Read the json file into a dataframe
    df = pd.read_json(f, orient='records', lines=True)[["pos", "spd"]]

    # Extract the label from the file prefix
    filename = os.path.basename(f)

    if filename.startswith('traceJSON'):
        label = filename.split('-')[3][1:]
    elif filename.startswith('traceGroundTruthJSON'):
        label = 0
    else:
        raise ValueError("File format not supported")
    
    # Add the label column to the dataframe
    df['label'] = label

    # Append the dataframe to the merged dataframe
    merged_df = pd.concat([merged_df, df], ignore_index=True)

# Now merged_df contains all the data from the JSON files, with label column added

In [53]:
merged_df

,pos,spd,label
0,"[266.1342377193001, 41.31755030776682, 0.0]","[-0.08087719292206601, 0.7826628559043071, 0.0]",0
1,"[266.06130476311273, 43.37327132906824, 0.0]","[-0.307226018249808, 2.973074697703729, 0.0]",0
2,"[265.50620000532376, 47.479615917740944, 0.0]","[-0.522133162849577, 5.052698244401898, 0.0]",0
3,"[264.8798230282204, 53.81269421777557, 0.0]","[-0.7501579494382471, 7.25934146781901, 0.0]",0
4,"[263.74132084628656, 62.04745136461824, 0.0]","[-1.196011717133152, 9.262387108898814, 0.0]",0
...,...,...,...
10737,"[325.90687464156844, 730.1637061673084, 0.0]","[8.1339354760141, 7.116579088873951, 0.0]",0
10738,"[337.2546973533207, 729.634766863171, 0.0]","[12.196912885390818, -4.544761986234479, 0.0]",0
10739,"[345.51983998911123, 719.5846003226957, 0.0]","[6.73889447260984, -9.893360827534599, 0.0]",0
10740,"[350.82649247285724, 711.7160476513725, 0.0]","[4.224393707179231, -6.201659069760074, 0.0]",0
10741,"[353.35754327903146, 707.5043220287979, 0.0]","[1.702164519432027, -2.498069570755604, 0.0]",0

In [54]:
split = pd.DataFrame(merged_df['pos'].to_list(), columns = ['posX', 'posY','posZ'])
split = split.drop('posZ',axis=1)
merged_df = pd.concat([merged_df, split], axis=1) 
merged_df = merged_df.drop('pos',axis=1)

In [57]:
split = pd.DataFrame(merged_df['spd'].to_list(), columns = ['spdX', 'spdY','spdZ'])
split = split.drop('spdZ',axis=1)
merged_df = pd.concat([merged_df, split], axis=1) 
merged_df = merged_df.drop('spd',axis=1)

In [58]:
merged_df

      label        posX        posY       spdX      spdY
0         0  266.134238   41.317550  -0.080877  0.782663
1         0  266.061305   43.373271  -0.307226  2.973075
2         0  265.506200   47.479616  -0.522133  5.052698
3         0  264.879823   53.812694  -0.750158  7.259341
4         0  263.741321   62.047451  -1.196012  9.262387
...     ...         ...         ...        ...       ...
10737     0  325.906875  730.163706   8.133935  7.116579
10738     0  337.254697  729.634767  12.196913 -4.544762
10739     0  345.519840  719.584600   6.738894 -9.893361
10740     0  350.826492  711.716048   4.224394 -6.201659
10741     0  353.357543  707.504322   1.702165 -2.498070

[10742 rows x 5 columns]